body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.logo {
  display:flex;
  align-items: center;
  padding: 1.5em;
  padding-right: 1em;
  font-size: larger;
  font-weight: 700;
}
.logo img{
  width: 40px;
  height: auto;
  margin-right: 0.5em;
}
.links a{
  text-decoration: none;
  color: black;
  margin: 0 1em;
  font-weight: bold;
  background-color: pink;
  padding: 1rem;
}
.links a:hover{
  color: white;
  background-color: purple;
  padding: 1rem;
  border-radius: 5px;
}
.date button{
  font-size: 0.9em;
  font-weight: bold;
  background-color: lightblue;
  border: none;
  font-size: 1rem;
  border-radius: 15px;
  padding: 1rem 1.5rem;
}
.header{
  display: flex;
  flex-direction: row;
  margin:auto;
 
}
.header-text{
  background-color: lightsalmon;
  width: 50%;
  height: 500px;
  padding: 2rem;
}
.header-text h1{
  font-size: 3rem;
  font-weight: normal;
}

.header-image{
   width: 50%;
  height: 500px;
  background-color: lightgreen;
  padding: 2rem;
}
.header-image img{
  width: 100%;
  height: auto;
}

